{% for idea in ideas %}
    <div class="idea">
        <img 
            src="{{idea.image}}" 
            alt="Imagem de {{idea.title}}">
        <div class="content">
            <h3>{{idea.title}}</h3>

            <p>{{idea.category}}</p>

            <p class="description">
                {{idea.description}}
            </p>

            <p>
                <a href="{{idea.link}}" target="_blank" rel="noopener noreferrer">
                    Ir para ideia
                </a>
            </p>
        </div>
    </div>
{% endfor %}